<div id="rotating-logos-section">
  <section class="logo-carousel">
    <div class="logo-list__wrapper">
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/abc-logo_300x.jpg?v=1735692404" alt="ABC Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/7-news-logo_300x.jpg?v=1735692349" alt="7 News Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/the-sydney-morning-herald-logo_300x.jpg?v=1735692443" alt="The Sydney Morning Herald Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/cnn-logo_300x.jpg?v=1735692552" alt="CNN Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/business-insider-logo-greyscale_300x.jpg?v=1735692506" alt="Business Insider Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/commercial-real-estate-logo_300x.jpg?v=1735692650" alt="Commercial Real Estate Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/atomos-logo_300x.jpg?v=1735692673" alt="Atomos Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/rnz-logo_300x.jpg?v=1735692809" alt="RNZ Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/vice-logo_300x.jpg?v=1735692781" alt="Vice Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/curbed-logo-greyscale_300x.jpg?v=1735692762" alt="Curbed Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/the-sun-logo_300x.jpg?v=1735692575" alt="The Sun Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/smith-journal-logo_300x.jpg?v=1735692600" alt="Smith Journal Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/domain-logo_300x.jpg?v=1657695077" alt="Domain Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/broad-logo_300x.jpg?v=1735692698" alt="Broad Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/capture-mag-logo_300x.jpg?v=1735692727" alt="Capture Mag Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/nikon-logo_300x.jpg?v=1735692529" alt="Nikon Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/pedestrian-logo_300x.jpg?v=1735692625" alt="Pedestrian Logo" loading="lazy">
      </div>
      <div class="logo-list__item">
        <img src="https://cdn.shopify.com/s/files/1/1304/3623/files/the-guardian-logo_300x.jpg?v=1735692377" alt="The Guardian Logo" loading="lazy">
      </div>
    </div>
  </section>
</div>
